/* Style for the profile container */
.profile-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #000000;
    background-color: #f5f5f5;
    border-radius: 15px;
    text-align: left;
}

/* Style for the h1 header */
h1 {
    font-size: 24px;
    color: #333;
}

/* Style for labels and input fields */
label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

/* Style for the "Update Profile" button */
input[type="submit"] {
    background-color: #24262b;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* Add hover effect to the submit button */
input[type="submit"]:hover {
    background-color: #0056b3;
}

select{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

hr {
    position: relative;
    top: 20px;
    border: none;
    height: 3px;
    background: black;
    margin-bottom: 50px;
}

